<template>
  <v-container>
    <PasswordResetRequestForm buttonText="Reset Password" :submitForm="requestResetPassword"/>
  </v-container>
</template>

<script>
  import PasswordResetRequestForm from '~/components/PasswordResetRequestForm.vue'

  export default {
    components: {
      PasswordResetRequestForm
    },
    auth: false,
    layout: 'auth',
    methods: {
      async requestResetPassword(userInfo){
        try {
          await this.$axios.post('api/password/create', userInfo);
          this.$store.dispatch('snackbar/create', {text: `We have e-mailed your password reset link!`});
          this.$router.push('/login');
        } catch {
          this.$store.dispatch('snackbar/create', {color: 'red', text: 'There was an issue resetting your password'});
        }
      }
    }
  }
</script>
