<template>
  <v-container>
    <v-card>
      <v-card-title>
        Services
        <v-spacer></v-spacer>

        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="wizniche-blue" dark class="mb-2" v-on="on">New Service</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-form v-model="valid">
                  <v-row>
                    <v-select
                      v-model="editedItem.industry_id"
                      :items="industries"
                      item-text="name"
                      item-value="id"
                      label="Industry"
                      :rules="[required('Industry')]"
                      @change="selectedIndustry(editedItem.industry_id)"
                    ></v-select>
                  </v-row>
                  <v-row>
                    <v-select
                      v-model="editedItem.category_id"
                      :items="categories"
                      item-text="name"
                      item-value="id"
                      label="Category"
                      :rules="[required('Category')]"
                    ></v-select>
                  </v-row>
                  <v-row>
                    <v-text-field
                      v-model="editedItem.name"
                      label="Service"
                      :rules="[required('Service')]"
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-text-field
                      v-model="editedItem.price"
                      label="Price"
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-text-field
                      v-model="editedItem.cost"
                      label="Cost"
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-text-field
                      v-model="editedItem.unit"
                      label="Unit"
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-textarea
                      v-model="editedItem.description"
                      label="Description"
                    ></v-textarea>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save" :disabled="!valid">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="services"
        :search="search"
        sort-by="name"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search Service"
              single-line
              hide-details
            ></v-text-field>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
        <!--<template v-slot:no-data>-->
        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
        <!--</template>-->
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
  import validations from "~/utils/validations";
  import { mapState } from 'vuex';

  export default {
    layout ({ layout }) {
      return layout;
    },
    data: () => ({
      valid: false,
      search: '',
      dialog: false,
      headers: [
        {
          text: 'Service',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: 'Description', value: 'description' },
        { text: 'Price', value: 'price' },
        { text: 'Cost', value: 'cost' },
        { text: 'Unit', value: 'unit' },
        { text: 'Actions', value: 'actions', sortable: false, width: '150' },
      ],
      editedIndex: -1,
      categories: [],
      editedItem: {
        industry_id: '',
        category_id: '',
        name: '',
        description: '',
        price: 0,
        cost: 0,
        unit: ''
      },
      defaultItem: {
        industry_id: '',
        category_id: '',
        name: '',
        description: '',
        price: 0,
        cost: 0,
        unit: ''
      },
      ...validations
    }),
    async fetch({ store }) {
      try {
        await store.dispatch('service/loadAllServices', {params: {all: 1}});
        await store.dispatch('industry/loadAllIndustries', {params: {all: 1, include: 'categories'}});
      } catch (e) {
        console.log(e);
      }
    },
    computed: {
      ...mapState({
        services: state => state.service.services,
        industries: state => state.industry.industries
      }),
      formTitle () {
        return this.editedIndex === -1 ? 'New Service' : 'Edit Service'
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
    },
    created () {
    },
    methods: {
      selectedIndustry(industryId) {
        this.categories = [];
        let industry = this.industries.filter(i => i.id === industryId);
        if (industry[0].categories.data.length > 0) {
          this.categories = industry[0].categories.data;
        } else {
          this.editedItem.category_id = '';
        }
      },
      editItem (item) {
        this.editedIndex = this.services.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.selectedIndustry(item.industry_id);
        this.dialog = true;
      },
      async deleteItem (item) {
        confirm('Are you sure you want to delete this item?') && await this.$store.dispatch('service/delete', item);
      },
      close () {
        this.dialog = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      async save () {
        if (this.editedIndex > -1) {
          await this.$store.dispatch('service/edit', this.editedItem);
        } else {
          await this.$store.dispatch('service/create', this.editedItem);
        }
        this.close();
      },
    }
  }
</script>
