<template>
  <v-container>
    <v-container class="pa-1" grid-list-xl>
      <v-layout row wrap>
        <v-flex md6 xs12>
          <v-card>
            <v-card-title>
              Company Profile
              <v-spacer></v-spacer>

              <v-dialog v-model="accountDialog" max-width="500px">
                <template v-slot:activator="{ on }">
                  <v-btn color="wizniche-blue" dark class="mb-2" v-on="on" @click="editAccount">Edit</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">Edit Company Profile</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-form v-model="valid">
                        <v-row>
                          <v-text-field
                            v-model="editedAccount.business_name"
                            label="Business Name"
                            :rules="[required('Business Name')]"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedAccount.business_phone"
                            label="Business Phone"
                            :rules="[required('Business Phone')]"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedAccount.business_website"
                            label="Business Website"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedAccount.business_profile"
                            label="Business Profile"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedAccount.support_email"
                            label="Support Email"
                          ></v-text-field>
                        </v-row>
                      </v-form>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close('account')">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="saveAccount" :disabled="!valid">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

            </v-card-title>
            <v-card-text>
              <span>{{ company.business_name }}</span><br>
              <span>{{ company.business_phone }}</span><br>
              <span>{{ company.business_website }}</span><br>
              <span>{{ company.support_email }}</span><br>
              <span>{{ company.business_profile }}</span>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex md6 xs12
          v-for="address in addresses"
          :key="address.id"
        >
          <v-card>
            <v-card-title>
              Company Address
              <v-spacer></v-spacer>

              <v-dialog v-model="addressDialog" max-width="500px">
                <template v-slot:activator="{ on }">
                  <v-btn color="wizniche-blue" dark class="mb-2" v-on="on" @click="editAddress(address)">Edit</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">Edit Company Address</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-form v-model="valid">
                        <v-row>
                          <v-text-field
                            v-model="editedAddress.street"
                            label="Street"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedAddress.unit"
                            label="Unit"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedAddress.city"
                            label="City"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedAddress.state"
                            label="State"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedAddress.zip"
                            label="Zip"
                          ></v-text-field>
                        </v-row>
                      </v-form>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close('address')">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="saveAddress" :disabled="!valid">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

            </v-card-title>
            <v-card-text>
              <span>{{ address.unit }}</span><br>
              <span>{{ address.street }}</span><br>
              <span>{{ address.city }}</span><br>
              <span>{{ address.state }}</span><br>
              <span>{{ address.zip }}</span>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script>
  import validations from "~/utils/validations";
  import { mapState } from 'vuex';

  export default {
    layout ({ layout }) {
      return layout;
    },
    data: () => ({
      valid: false,
      accountDialog: false,
      addressDialog: false,
      editedAccount: {},
      editedAddress: {},
      ...validations
    }),
    async fetch({ store }) {
      try {
        await store.dispatch('company/loadCompany');
        await store.dispatch('address/loadAllAddress');
      } catch (e) {
        console.log(e);
      }
    },
    computed: {
      ...mapState({
        company: state => state.company.company,
        addresses: state => state.address.addresses,
      }),
    },
    watch: {
    },
    created () {
    },
    methods: {
      editAccount () {
        this.editedAccount = Object.assign({}, this.company)
        this.accountDialog = true;
      },
      async saveAccount () {
        await this.$store.dispatch('company/edit', this.editedAccount);
        this.close('account');
      },
      editAddress (address) {
        this.editedAddress = Object.assign({}, address)
        this.addressDialog = true
      },
      async saveAddress () {
        await this.$store.dispatch('address/edit', this.editedAddress);
        this.close('address');
      },
      close (type) {
        if (type === 'account') {
          this.accountDialog = false;
        } else {
          this.addressDialog = false;
        }
      },
    },
  }
</script>
