<template>
  <v-container>
    <LoginForm buttonText="Login" :submitForm="loginUser"/>
  </v-container>
</template>

<script>
  import LoginForm from '~/components/LoginForm.vue'

  export default {
    components: {
      LoginForm
    },
    auth: false,
    layout: 'auth',
    methods: {
      async loginUser(loginInfo){
        try {
          await this.$auth.loginWith('local', {
            data: loginInfo
          });
          this.$store.dispatch('snackbar/create', {text: `Thanks for signing in, ${this.$auth.user.first_name}`});
          this.$router.push('/dashboard')
        } catch {
          this.$store.dispatch('snackbar/create', {color: 'red', text: 'There was an issue signing in.  Please try again.'});
        }
      }
    }
  }
</script>
