<template>
  <v-container>
    <RegistrationForm buttonText="Register" :submitForm="registerUser"/>
  </v-container>
</template>

<script>
  import RegistrationForm from '~/components/RegistrationForm.vue'

  export default {
    components: {
      RegistrationForm
    },
    auth: false,
    layout: 'auth',
    methods: {
      async registerUser(registrationInfo){
        try {
          await this.$axios.post('api/register', registrationInfo);
          this.$store.dispatch('snackbar/create', {text: `Thanks for signing up, ${registrationInfo.email}. Please check your email.`});
          this.$router.push('/login');
        } catch {
          this.$store.dispatch('snackbar/create', {color: 'red', text: 'There was an issue signing up.  Please try again.'});
        }
      }
    }
  }
</script>
