<template>
  <v-container>
    <PasswordResetForm buttonText="Reset" :submitForm="resetPassword"/>
  </v-container>
</template>

<script>
  import PasswordResetForm from '~/components/PasswordResetForm.vue'

  export default {
    components: {
      PasswordResetForm
    },
    auth: false,
    layout: 'auth',
    data() {
      return {
        token: this.$route.params.token
      }
    },
    methods: {
      // async checkToken(){
      //     const response = await this.$axios.get(`api/password/find/${this.$route.params.token}`);
      //     console.log(response.data.data.token);
      // },
      async resetPassword(userInfo){
        await this.$axios.post('api/password/reset', userInfo);
        this.$store.dispatch('snackbar/create', {text: `You have changed your password successfully.`});
        this.$router.push('/login');
      }
    },
    mounted: function () {
      // this.checkToken();
    }
  }
</script>
