<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      :expand-on-hover="expandOnHover"
      :mini-variant="miniVariant"
      app
    >
      <v-list dense>
        <template v-for="navDrawerLink in navDrawerLinks">
          <v-list-item
            :key="navDrawerLink.text"
            :to="navDrawerLink.route"
            link
          >
            <v-list-item-action>
              <v-icon>{{ navDrawerLink.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ navDrawerLink.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="wizniche-green"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <span class="hidden-sm-and-down">Wizniche</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
        class="hidden-sm-and-down"
      />
      <v-spacer />

      <v-toolbar-items>
        <v-btn icon text>
          <v-badge color="red" overlap>
            <span slot="badge">3</span>
            <v-icon medium>mdi-bell</v-icon>
          </v-badge>
        </v-btn>
        <v-menu offset-y origin="center center" :nudge-bottom="10" transition="scale-transition">

          <template v-slot:activator="{ on: menu }">
            <v-btn v-on="menu" icon >
              <v-avatar size="30px">
                <img src="/me.png" alt="Kheven Bitoon" />
              </v-avatar>
            </v-btn>
          </template>

          <v-card>
            <v-list>
              <v-list-item>
                <v-list-item-avatar>
                  <img src="/me.png" alt="Kheven">
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>{{ $auth.user.full_name }}</v-list-item-title>
                  <v-list-item-subtitle>Senior PHP Developer</v-list-item-subtitle>
                </v-list-item-content>

              </v-list-item>
            </v-list>

            <v-divider></v-divider>

            <v-list dense>
              <v-list-item
                v-for="(navBarLink, i) in navBarLinks"
                :key="i"
                :to="navBarLink.route"
                link
                @click="navBarLink.click ? navBarLink.click() : null"
              >
                <v-list-item-icon>
                  <v-icon v-text="navBarLink.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="navBarLink.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
      </v-toolbar-items>

    </v-app-bar>
  </div>
</template>

<script>
  export default {
    data: () => ({
      drawer: null,
      miniVariant: false,
      expandOnHover: false,
    }),
    computed: {
      navBarLinks(){
        return [
          {icon: "mdi-face-profile", text: 'Profile', route: '/account/company'},
          {icon: "mdi-cog-outline", text: 'Settings', route: '/settings'},
          {
            icon: "mdi-logout-variant", text: 'Sign out', click: () => {
              this.$auth.logout()
            }
          }
        ];
      },
      navDrawerLinks(){
        let user = this.$auth.user;

        if (user && user.scope.includes('administrator')) {
          return [
            {icon: 'mdi-view-dashboard', text: 'Dashboard', route: '/dashboard'},
            {icon: 'mdi-factory', text: 'Industries', route: '/industries'},
            {icon: 'mdi-shape', text: 'Categories', route: '/categories'},
            {icon: 'mdi-account-hard-hat', text: 'Services', route: '/services'},
            {icon: 'mdi-contacts', text: 'Customer Types', route: '/customer-types'},
            {icon: 'mdi-account-multiple', text: 'Employees', route: '/employees'},
            {icon: 'mdi-message', text: 'Send feedback'},
            {icon: 'mdi-help-circle', text: 'Help'},
          ];
        }

        if (user && user.scope.includes('subscriber')) {
          return [
            {icon: 'mdi-view-dashboard', text: 'Dashboard', route: '/dashboard'},
            {icon: 'mdi-message', text: 'Send feedback'},
            {icon: 'mdi-help-circle', text: 'Help'},
          ];
        }
      }
    }
  }
</script>
