<template>
  <div>
    <v-card-text>
      <v-form v-model="valid">
        <v-text-field
          append-icon="mdi-account"
          label="Email"
          v-model="userInfo.email"
          :rules="[required('Email'), emailFormat()]"
        ></v-text-field>
        <v-text-field
          v-model="userInfo.password"
          label="Password"
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPassword = !showPassword"
          counter=true
          :rules="[required('Password'), minLength('Password', 8)]"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn @click="submitForm(userInfo)" :disabled="!valid">{{ buttonText }}</v-btn>
      <v-spacer></v-spacer>
      <nuxt-link to="/register" no-prefetch>Sign Up</nuxt-link>
    </v-card-actions>
  </div>
</template>

<script>
  import validations from "~/utils/validations";

  export default {
    data() {
      return {
        valid: false,
        showPassword: false,
        userInfo: {
          email: '',
          password: ''
        },
        ...validations
      }
    },
    props: ["submitForm", "buttonText"]
  }
</script>
