<template>
  <div>
    <v-card-text>
      <v-form v-model="valid">
        <v-text-field
          append-icon="mdi-account"
          v-model="userInfo.email"
          label="Email"
          :rules="[required('Email'), emailFormat()]"
        />

        <v-text-field
          v-model="userInfo.password"
          label="New Password"
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPassword = !showPassword"
          counter=true
          :rules="[required('New Password'), minLength('New Password', 8)]"
        />

        <v-text-field v-if="!userInfo.token"
                      v-model="userInfo.token"
                      label="Token"
                      :rules="[required('Token')]"
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn @click="submitForm(userInfo)" :disabled="!valid">{{ buttonText }}</v-btn>
      <v-spacer></v-spacer>
    </v-card-actions>

  </div>
</template>

<script>
  import validations from "~/utils/validations";

  export default {
    data() {
      return {
        valid: false,
        showPassword: false,
        userInfo: {
          email: '',
          password: '',
          token: this.$route.params.token
        },
        ...validations
      }
    },
    props: ["submitForm", "buttonText"]
  }
</script>
