<template>
  <div>
    <v-card-text>
      <v-form v-model="valid">
        <v-text-field
          v-model="userInfo.email"
          label="Email"
          :rules="[required('Email'), emailFormat()]"
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn @click="submitForm(userInfo)" :disabled="!valid">{{ buttonText }}</v-btn>
      <v-spacer></v-spacer>
      <nuxt-link to="/login" no-prefetch>Sign In</nuxt-link>
    </v-card-actions>
  </div>
</template>

<script>
  import validations from "~/utils/validations";

  export default {
    data() {
      return {
        valid: false,
        showPassword: false,
        userInfo: {
          email: ''
        },
        ...validations
      }
    },
    props: ["submitForm", "buttonText"]
  }
</script>
