<template>
  <v-container>
    <v-card>
      <v-card-title>
        Employees
        <v-spacer></v-spacer>

        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="wizniche-blue" dark class="mb-2" v-on="on">New Employee</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-form v-model="valid">
                  <v-row>
                    <v-text-field
                      v-model="editedItem.first_name"
                      label="First Name"
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-text-field
                      v-model="editedItem.last_name"
                      label="Last Name"
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-text-field
                      v-model="editedItem.mobile_number"
                      label="Mobile Number"
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-text-field
                      v-model="editedItem.email"
                      label="Email"
                    ></v-text-field>
                </v-row>
                </v-form>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save" :disabled="!valid">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="employees"
        :search="search"
        sort-by="name"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search Employee"
              single-line
              hide-details
            ></v-text-field>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
        <!--<template v-slot:no-data>-->
        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
        <!--</template>-->
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
  import validations from "~/utils/validations";
  import { mapState } from 'vuex';

  export default {
    layout ({ layout }) {
      return layout;
    },
    data: () => ({
      valid: false,
      search: '',
      dialog: false,
      headers: [
        {
          text: 'First Name',
          align: 'start',
          value: 'first_name',
        },
        { text: 'Last Name', value: 'last_name' },
        { text: 'Mobile Number', value: 'mobile_number' },
        { text: 'Email', value: 'email' },
        { text: 'Actions', value: 'actions', sortable: false, width: '150' },
      ],
      editedIndex: -1,
      editedItem: {
        first_name: '',
        last_name: '',
        mobile_number: '',
        email: ''
      },
      defaultItem: {
        first_name: '',
        last_name: '',
        mobile_number: '',
        email: ''
      },
      ...validations
    }),
    async fetch({ store }) {
      try {
        await store.dispatch('employee/loadAllEmployees', {params: {all: 1}});
      } catch (e) {
        console.log(e);
      }
    },
    computed: {
      ...mapState({
        employees: state => state.employee.employees
      }),
      formTitle () {
        return this.editedIndex === -1 ? 'New Employee' : 'Edit Employee'
      },
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
    },
    created () {
    },
    methods: {
      editItem (item) {
        this.editedIndex = this.employees.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      async deleteItem (item) {
        confirm('Are you sure you want to delete this item?') && await this.$store.dispatch('employee/delete', item);
      },
      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },
      async save () {
        if (this.editedIndex > -1) {
          await this.$store.dispatch('employee/edit', this.editedItem);
        } else {
          await this.$store.dispatch('employee/create', this.editedItem);
        }
        this.close()
      },
    },
  }
</script>
