<template>
  <v-app id="inspire">
    <!-- TOP BAR NAV -->
    <AppNavBar />
    <!-- END TOP BAR NAV -->
    <!-- CONTENT -->
    <v-content>
      <nuxt></nuxt>
    </v-content>
    <!-- END CONTENT -->
    <AppSnackBar />
  </v-app>
</template>

<script>
  import AppNavBar from "../components/AppNavBar";
  import AppSnackBar from "../components/AppSnackBar";

  export default {
    components: {
      AppSnackBar,
      AppNavBar,
    }
  }
</script>
