<template>
  <v-app class="split-bg">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-img
                src="/company_logo.png"
                height="100"
              ></v-img>
                <nuxt></nuxt>
            </v-card>
            <div align="center" class="mt-2">
              <nuxt-link to="/password/reset/request" no-prefetch>Forgot password</nuxt-link>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <AppSnackBar />
  </v-app>
</template>

<style scoped lang="css">
  .split-bg {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
    background: #7FC758;
  }
</style>
<script>
  import AppSnackBar from "../components/AppSnackBar";
  export default {
    components: {AppSnackBar}
  }
</script>
